body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    height: 50px;
}

.hero {
    position: relative;
    height: 400px; /* Adjust the height to make the image more medium-sized */
    overflow: hidden;
}

.hero .hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio while covering the container */
}

.hero .hero-text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.featured-products .btn-group button {
    margin: 0 5px;
}

.card img {
    height: 250px;
    object-fit: cover;
}

footer ul {
    padding-left: 0;
}

footer ul li {
    margin: 5px 0;
}

footer ul li a {
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

/* Custom button colors */
.custom-blue {
    background-color: #001f3f; /* Navy Blue */
    color: white;
}

.custom-gray {
    background-color: #6c757d; /* Gray */
    color: white;
}

.custom-green {
    background-color: #28a745; /* Green */
    color: white;
}

/* Flex styling for buttons with images */
.btn-group .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-group .btn img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.product-image {
    max-width: 100px;
    max-height: 100px;
}
.logoizq{
    height: 50px;
    
}
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    margin-top: 0;
}
.btn-custom {
    background-color: rgb(255, 222, 8);
    border: none;
    color: black;
}
.btn-custom:hover {
    background-color: rgb(255, 140, 0);
}
body, html {
    margin: 0;
    padding: 0;
}
.hero img {
    width: 100%;
    height: auto;
    display: block;
}
.hero {
    margin: 0;
    padding: 0;
}
.navbar {
    margin-bottom: 0;
}