.inner {
  position: absolute;
}

.spinner-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  /* Coloca el spinner encima de todos los elementos */
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal-header,
.modal-footer {
  background-color: #f8f9fa;
}

.modal-header .close {
  margin: -1rem -1rem -1rem auto;
}

.modal-title {
  font-size: 1.5rem;
}

.modal-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.modal-body {
  padding: 2rem;
}

.modal-footer {
  border-top: 1px solid #dee2e6;
}

.form-group label {
  font-weight: bold;
}

.btn-outline-secondary {
  border-radius: 50%;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}

.table td button {
  margin: 0 5px;
}
